# Blend65 Language Files
*.blend linguist-language=VBA linguist-detectable=true

# Documentation
*.md linguist-documentation=true linguist-detectable=true

# Configuration Files
*.toml linguist-language=TOML
